// Reset CSS
@import url("reset.css");

// Colors
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Text Colors
$verified-graduate-color: rgba($very-dark-grayish-blue, 0.5); // 50% opacity
$review-paragraph-color: rgba($very-dark-grayish-blue, 0.7); // 70% opacity

// Typography
$font-barlow: "Barlow Semi Condensed", sans-serif;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-size-body: 0.75rem;
$font-size-small: 1.18rem;
$font-size-medium: 0.9375rem;
$font-size-large: 0.75rem;

// Mixins
@mixin img-profile($width, $color) {
  border: $width solid $color;
}

@mixin username($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin title($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  word-wrap: break-word; // Ajustado para melhor compatibilidade
  text-wrap: wrap;
}

@mixin text($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

// Background
.background-page {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: $light-grayish-blue;
  height: 100vh; // 100% do viewport height
  display: flex;
  justify-content: center; // Centraliza horizontalmente
  align-items: center; // Centraliza verticalmente
}

// Grid
.grid-main {
  font-family: $font-barlow;
  color: $review-paragraph-color;
  justify-content: center;
  align-items: center;

  .card {
    min-height: 100%;
  }

  #card-daniel {
    background-color: $moderate-violet;
    border: none;

    .img-profile {
      width: 35px;
      @include img-profile(2px, $light-grayish-blue);
    }
    .username {
      @include username($font-size-medium, $light-gray, $font-weight-semibold);
    }
    .card-text,
    .text-verified {
      @include text(
        $font-size-body,
        rgba($light-gray, 0.7),
        $font-weight-regular
      );
    }
    .card-title {
      @include title(
        $font-size-small,
        $light-grayish-blue,
        $font-weight-regular
      );
    }
  }

  #card-jonathan {
    background-color: $very-dark-grayish-blue;
    border: none;

    .img-profile {
      width: 35px;
      @include img-profile(2px, $light-grayish-blue);
    }

    .username {
      @include username($font-size-medium, $light-gray, $font-weight-semibold);
    }

    .card-text,
    .text-verified {
      @include text(
        $font-size-body,
        rgba($light-gray, 0.7),
        $font-weight-regular
      );
    }

    .card-title {
      @include title(
        $font-size-small,
        $light-grayish-blue,
        $font-weight-regular
      );
    }
  }

  #card-jeanette,
  #card-kira {
    background-color: $white;
    border: none;

    .img-profile {
      width: 35px;
      @include img-profile(2px, $light-gray);
    }

    .username {
      @include username(
        $font-size-medium,
        $very-dark-grayish-blue,
        $font-weight-semibold
      );
    }

    .card-text,
    .text-verified {
      @include text(
        $font-size-body,
        rgba($very-dark-grayish-blue, 0.7),
        $font-weight-regular
      );
    }

    .card-title {
      @include title(
        $font-size-small,
        $very-dark-grayish-blue,
        $font-weight-regular
      );
    }
  }

  #card-patrick {
    background-color: $very-dark-blackish-blue;
    border: none;

    .img-profile {
      width: 35px;
      @include img-profile(2px, $moderate-violet);
    }

    .username {
      @include username($font-size-medium, $white, $font-weight-semibold);
    }

    .card-text,
    .text-verified {
      @include text($font-size-body, rgba($white, 0.5), $font-weight-regular);
    }

    .card-title {
      @include title(
        $font-size-small,
        $light-grayish-blue,
        $font-weight-regular
      );
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  height: 100%; // Faz com que a section ocupe toda a altura do container pai

  .container {
    display: flex;
    flex-direction: column;
    height: 100%; // Faz com que o container ocupe todo o espaço disponível dentro da section
  }

  // Faz com que o card ocupe toda a altura disponível
  #card-kira {
    height: 100%; // Faz com que o card ocupe toda a altura disponível do container
    display: flex;
    flex-direction: column;
    justify-content: space-between; // Garante que o conteúdo do card seja distribuído verticalmente
  }

  .row {
    height: 100%; // Faz com que o card ocupe toda a altura disponível do container
    display: flex;
  }
}

// Footer
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 1rem 0;

  .attribution {
    font-size: $font-size-large;
    font-weight: $font-weight-semibold;

    a {
      color: $very-dark-grayish-blue;
      transition: color 0.3s;

      &:hover {
        color: $moderate-violet;
      }
    }
  }
}

// Responsive design for small screens
@media (max-width: 576px) {
  .img-profile {
    width: 50px;
    height: 50px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.85rem;
  }
}

// Custom styling for the main container on large screens

@media (max-width: 992px) {
  // Ensures cards take 80% width on mobile
  background-page {
    min-height: 180vh;

    .grid-main {
      width: 80%;
      padding: 0;
      margin: 0;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    height: auto; // Faz com que a section ocupe toda a altura do container pai
  }

  .container {
    display: flex;
    flex-direction: column;
    height: auto; // Faz com que o container ocupe todo o espaço disponível dentro da section
  }
}
